/* https://uiverse.io/andrew-demchenk0/tasty-yak-79 */
/* icons : https://lordicon.com/icons/system/regular */
/* behance or dribbble inspiration de portfolio */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); 
@import url("https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Karla+Tamil+Upright:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Karla+Tamil+Upright:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Karla+Tamil+Upright:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Edu+AU+VIC+WA+NT+Pre&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Karla+Tamil+Upright:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap");

/* * {
  border: 1px solid red
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

main {
  padding: 50px;
}

header {
  padding: 50px;
}

/* NavBar */

.menu-items {
  display: flex;
  justify-content: center;
  gap: 2.8%;
  font-family: Poppins;
  /* font-weight: bold; */
  margin-bottom: 200px;
}

.moov, .active {
  transition: transform 0.3s ease, opacity 0.3s ease; /* Transition pour la réduction et l’opacité */
  position: relative;
  color: rgb(255, 255, 255) !important;
  align-content: center;
  /* padding: 10px 15px; Ajuste le padding selon tes besoins */
  transform-origin: center;
}

.moov:hover, .active:hover {
  transform: scale(0.9); /* Réduit l'élément légèrement au survol */
  opacity: 0.8; /* Réduit aussi un peu l’opacité pour accentuer l'effet */
  text-decoration: underline orange 3px;
}

.main-pages {
  color: purple !important;
}

.active {
  background-color: rgb(82, 1, 66);
  border-radius: 6px;
  position: relative;
  padding: 1px 10px;
  color: rgb(255, 255, 255) !important;
}



.moov {
  position: relative;
  color: rgb(255, 255, 255) !important;
  align-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.moov:hover {
  animation: normal 1s One;
  display: flex;
}


.me {
  font-size: 3em;
  font-family: Bebas;
}

.backtop {
  text-align: center;
}



.devlogo {
  animation: flotage2 3s infinite;
  position: relative;
  margin-top: 100px;
  height: 100px;
  width: 100px;
  margin-left: 80%;
}

.name {
  text-align: center;
  color: white;
  flex: 1;
  font-size: 5em;
  font-family: Bebas; 
  text-shadow: #929292 6px 10px 10px;
  position: relative;
  /* animation: name-flotage 4s infinite; */
  transition: transform 0.3s ease;
  margin-bottom: 100px;
  -webkit-text-stroke: 2px black;
}

/* @keyframes name-flotage {
  0% { top: 0px; }
  50% { top: -15px; } 
  100% { top: 0px; }
} */

.name:hover {
  transform: scale(0.9);
}

.whoami {
  padding: 10px;
  font-family: Sofadi One;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: inherit;
}

.mainbot {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.pushable {
  position: relative;
  background: transparent;
  padding: 0px;
  border: none;
  cursor: pointer;
  outline-offset: 4px;
  outline-color: deeppink;
  transition: filter 250ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  filter: blur(2px);
  will-change: transform;
  transform: translateY(5px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(
    to right,
    hsl(296, 94%, 14%) 0%,
    hsl(296, 94%, 14%) 8%,
    hsl(296, 94%, 14%) 92%,
    hsl(296, 94%, 14%) 100%
  );
}

.front {
  font-family: Oswald;
  display: block;
  position: relative;
  border-radius: 8px;
  background: hsl(318, 69%, 28%);
  padding: 10px 32px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1.1rem;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.pushable:hover {
  filter: brightness(110%);
}

.pushable:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.pushable:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}


/* todo */

@media only screen and (max-width: 600px) {
  
  .name {
    order: 1; 
    text-align: center;
    margin-left: 0;
  }
  
  @keyframes top {
    0% { left: 0px; }
    50% { left: -10px; }
    100% { left: 0px; }
  }
}

.imgtest:hover {
  opacity: 0.5;
} 

img[title] {
  width: 200px;
} 

/* todo alignement*/
footer {
  background-color: rgb(24, 23, 23);
  text-align: center;
  padding: 30px;
  color: white;
  width: 100%;
  bottom: 0;
  text-decoration: bold;
  margin-top: 200px;
}

/* Centrer le contenu du footer et ajuster l'espacement des colonnes */
.footer {
  display: flex;
  flex-wrap: wrap; /* Pour permettre aux colonnes de s'ajuster */
  justify-content: center; /* Centrer horizontalement les colonnes */
  align-items: flex; /* Aligner les éléments en haut */
  gap: 10%; /* Espace entre les colonnes */
  font-family: Kanit;
}

/* Ajuster les colonnes pour les centrer et les espacer correctement */


.col-1, .col-2, .col-3 {
  flex: 1 1 1 30%; /* Les colonnes vont occuper 30% de la largeur, mais vont s'ajuster selon l'espace disponible */
  max-width: 30%; /* Limiter la largeur des colonnes pour éviter qu'elles prennent toute la place */
}

/* Centrer le texte et autres éléments dans la colonne newsletter */
.limited {
  padding-top: 20px;
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

input[type="text"] {
  width: 100%; /* Donne de la largeur aux champs d'entrée dans la newsletter */
  padding: 8px;
  margin-bottom: 10px;
}


/* Contacts logos */
.myContacts {
  display: flex;
  justify-content: center;
  gap: 2%;
  align-items: center;
}

.myContacts img {
  width: 40px;
}

h2 {
  text-decoration: underline;
  padding: 20px;
}

.subButton {
  font-family: Edu AU VIC WA NT Pre, cursive;
  padding-inline-start: 5px;
  padding-inline-end: 5px;
  background-color: #5a5959c5;
  font-weight: bold;
  font-size: 17px
}


/* logos reseaux sociaux */

.social-icons{
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border: 0.2rem solid rgb(77, 13, 71);
  font-size: 2rem;
  border-radius: 50%;
  margin: 3rem 1rem 3rem;
  transition: 0.3s ease;
  color: white;
}

.social-icons a:hover{
  color: rgb(211, 211, 211);
  transform: scale(1.1) translateY(-5px);
  background-color: rgb(128, 119, 74);
  box-shadow: 0 10px 10px rgb(85, 21, 74);
}

.mid-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#next-page-button {
  font-family: Poppins;
  position: fixed;
  bottom: 20px; /* Distance du bas de l'écran */
  right: 20px; /* Distance du côté droit */
  padding: 5px 20px;
  background-color: #2f2f30; /* Couleur de fond */
  color: white; /* Couleur du texte */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  transition: background-color 0.4s ease;
  border: solid 2px orange;
}

#next-page-button:hover {
  background-color: #4b4a4a; /* Couleur au survol */
}